:root { 
--white_A700_b2:#ffffffb2; 
--blue_gray_900_19:#0b264119; 
--black_900_b2:#010101b2; 
--blue_gray_100_01:#d9d9d9; 
--white_A700_95:#ffffff95; 
--indigo_900_33:#00007c33; 
--white_A700_cc:#ffffffcc; 
--black_900_01:#000000; 
--black_900_66:#00000066; 
--light_blue_100_33:#a0ddff33; 
--teal_800:#077d55; 
--black_900:#010101; 
--blue_600_44:#127de844; 
--blue_gray_900_02:#0b2540; 
--blue_gray_900_01:#0b2641; 
--blue_gray_900:#172641; 
--blue_600_19:#127de819; 
--white_A700_6c:#ffffff6c; 
--blue_gray_200_0c:#a1c5d30c; 
--blue_gray_200:#a1c5d3; 
--blue_gray_100:#d5d5d5; 
--blue_600:#127de8; 
--gray_900:#15161d; 
--black_900_0c:#0101010c; 
--gray_300:#e7e7e5; 
--gray_100:#f0f4fa; 
--black_900_cc:#010101cc; 
--black_900_33:#01010133; 
--light_blue_100_66:#a0ddff66; 
--black_900_99:#01010199; 
--blue_gray_900_19_01:#17264119; 
--gray_100_01:#f7f3f0; 
--blue_gray_900_d8:#0b2540d8; 
--blue_gray_900_33:#17264133; 
--blue_gray_900_cc:#172641cc; 
--white_A700:#ffffff; 
--blue_gray_900_95:#17264195; 
}